<footer class="app-footer container-fluid navbar navbar-default">
    <ul class="list-inline footer-links">
        <li>
            <a target="_blank" href="https://meta.wikimedia.org/wiki/Grant_Metrics">{{ msg('documentation') }}</a>
        </li>
        <li>
            <a target="_blank" href="https://github.com/wikimedia/grantmetrics">{{ msg('view-source') }}</a>
        </li>
        <li>
            <a target="_blank" href="https://phabricator.wikimedia.org/maniphest/task/create?projects=grant-metrics">{{ msg('report-issue') }}</a>
        </li>
        <li>
            <a target="_blank" href="https://meta.wikimedia.org/wiki/Talk:Grant_Metrics">{{ msg('feedback') }}</a>
        </li>
        <li>
            <a target="_blank" href="https://mediawiki.org/wiki/Community_Tech">{{ msg('developed-by') }}</a>
        </li>
    </ul>
</footer>
