<footer class="app-footer container-fluid navbar navbar-default">
    <ul class="list-inline footer-links">
        <li>
            <a target="_blank" href="https://meta.wikimedia.org/wiki/Grant_Metrics">
                <span class="font-awesome">&#xf05a;</span>
                {{ msg('documentation') }}
            </a>
        </li>
        <li>
            <a target="_blank" href="https://github.com/wikimedia/grantmetrics">
                <span class="font-awesome">&#xf121;</span>
                {{ msg('view-source') }}
            </a>
        </li>
        <li>
            <a target="_blank" href="https://phabricator.wikimedia.org/maniphest/task/create?projects=grant-metrics">
                <span class="font-awesome">&#xf188;</span>
                {{ msg('report-issue') }}
            </a>
        </li>
        <li>
            <a target="_blank" href="https://meta.wikimedia.org/wiki/Talk:Grant_Metrics">
                <span class="font-awesome">&#xf086;</span>
                {{ msg('feedback') }}
            </a>
        </li>
        <li>
            <a target="_blank" href="https://mediawiki.org/wiki/Community_Tech">
                <span class="font-awesome">&#xf0c0;</span>
                {{ msg('developed-by') }}
            </a>
        </li>
        <li>
            <a href="#">
                <span class="font-awesome">&#xf1f9;</span>
                {{ msg('attribution') }}
            </a>
        </li>
    </ul>
</footer>
