<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% if gmTitle is defined %}{{ gmTitle }} - {% endif %}
            {{ msg('grant-metrics') }}
        </title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {% block javascripts %}
            {% javascripts '%kernel.root_dir%/Resources/assets/js/*' %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
            {% javascripts '@jquery_js' %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
            {% javascripts '@bootstrap_js' %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
        {% block stylesheets %}
            {% stylesheets '%kernel.root_dir%/Resources/assets/css/*' filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
            {% stylesheets '@bootstrap_css' %}
                <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
    </head>
    <body class="{{ getControllerName() }} {{ getControllerName() }}-{{ getActionName() }}{% if isRTL() %} rtl{% endif %}">
        <header class="app-header navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <span class="navbar-left">
                    {{ msg('grant-metrics') }}
                </span>
                <span class="pull-right">
                    <div class="lang-group btn-group dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                              <path d="M12.87 15.07l-2.54-2.51.03-.03c1.74-1.94 2.98-4.17 3.71-6.53H17V4h-7V2H8v2H1v1.99h11.17C11.5 7.92 10.44 9.75 9 11.35 8.07 10.32 7.3 9.19 6.69 8h-2c.73 1.63 1.73 3.17 2.98 4.56l-5.09 5.02L4 19l5-5 3.11 3.11.76-2.04zM18.5 10h-2L12 22h2l1.12-3h4.75L21 22h2l-4.5-12zm-2.62 7l1.62-4.33L19.12 17h-3.24z"></path>
                            </svg>
                            {{ langName() }}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a target="_blank" href="#">{{ msg('help-translate') }}</a>
                            </li>
                            <li class="divider" role="separator"></li>
                            {% for key, value in allLangs() if key != 'qqq' %}
                                <li>
                                    <a class="lang-link" href="{{ path(app.request.attributes.get('_route'), app.request.get('_route_params')|merge({'uselang': key})) }}" data-lang="{{ key }}">{{ value|e }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </span>
            </div>
        </header>
        <main class="app-body">
            {% block body %}
            {% endblock %}
        </main>
        <footer class="app-footer container-fluid">
            <ul class="list-inline footer-links">
                <li>
                    <a target="_blank" href="https://meta.wikimedia.org/wiki/Grant_Metrics">{{ msg('documentation') }}</a>
                </li>
                <li>
                    <a target="_blank" href="https://github.com/wikimedia/grantmetrics">{{ msg('view-source') }}</a>
                </li>
                <li>
                    <a target="_blank" href="https://phabricator.wikimedia.org/maniphest/task/create?projects=grant-metrics">{{ msg('report-issue') }}</a>
                </li>
                <li>
                    <a target="_blank" href="https://meta.wikimedia.org/wiki/Talk:Grant_Metrics">{{ msg('feedback') }}</a>
                </li>
                <li>
                    <a target="_blank" href="https://mediawiki.org/wiki/Community_Tech">{{ msg('developed-by') }}</a>
                </li>
            </ul>
        </footer>
    </body>
</html>
