<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% if gmTitle is defined %}{{ msgIfExists(gmTitle) }} - {% elseif exception is defined %}{{ msg('fatal-error') }} - {% endif %}
            {{ msg('grant-metrics') }}
        </title>
        <link rel="icon" type="image/x-icon" sizes="16x16 32x32 48x48" href="{{ asset('favicon.ico') }}" />

        {# Must be before loading the individual JS files #}
        <script type="text/javascript">
            {# For JavaScripts that make requests to the application server. #}
            baseUrl = "{{ path('homepage') }}";

            {# For $.i18n, loaded in application.js #}
            i18nLang = "{{ lang() }}";
            i18nPath = "{{ asset('i18n/' ~ lang() ~ '.json') }}";
            i18nEnPath = "{{ asset('i18n/en.json') }}";
        </script>

        {% block javascripts %}
            <script type="text/javascript" src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            {% javascripts
                '@jquery_i18n'
                '%kernel.root_dir%/Resources/assets/js/*'
                '@bootstrap_typeahead'
                output='js/application.js'
            %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
            <script type="text/javascript" src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <script type="text/javascript" src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/moment.js/2.19.4/moment.min.js"></script>
            <script type="text/javascript" src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/bootstrap-daterangepicker/2.1.27/daterangepicker.min.js"></script>
        {% endblock %}
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" media="screen" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
            <link rel="stylesheet" type="text/css" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css">
            <link rel="stylesheet" type="text/css" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/bootstrap-daterangepicker/2.1.27/daterangepicker.min.css">
            {% stylesheets '%kernel.root_dir%/Resources/assets/css/*'
                 filter='scssphp,cssrewrite'
                 output='css/application.css'
            %}
            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
    </head>
    <body class="{% if exception is not defined %}{{ getControllerName() }} {{ getControllerName() }}-{{ getActionName() }}{% endif %}{% if isRTL() %} rtl{% endif %}">
        <header class="app-header navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <span class="navbar-left">
                    <span class="home-link">
                        <img class="app-header--logo" src="{{ asset('images/logo.svg') }}" alt="{{ msg('grant-metrics') }}" />
                    </span>
                    {##
                     # When viewing a program/event that you don't organize, the link to 'My Programs'
                     # appears separate from the breadcrumbs, so that it doesn't look like it's one of
                     # their programs.
                     #}
                    {% if isOrganizer is defined and isOrganizer == false %}
                        <span class="home-link">
                            <a href="{{ path('Programs') }}">{{ msg('my-programs') }}</a>
                        </span>
                    {% endif %}
                    {% block breadcrumb %}
                    {% endblock %}
                </span>
                <span class="pull-right">
                    {% if loggedInUser() %}
                        <span class="logged-in">
                            {{ loggedInUser().username }}
                            (<a href="{{ path('logout') }}">{{ msg('logout') }}</a>)
                        </span>
                    {% endif %}
                    <div class="btn-group dropdown help-dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-question-sign"></span>
                            {{ msg('help') }}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a target="_blank" href="https://meta.wikimedia.org/wiki/Grant_Metrics">
                                    <span class="font-awesome">&#xf05a;</span>
                                    {{ msg('documentation') }}
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="https://phabricator.wikimedia.org/maniphest/task/create?projects=grant-metrics">
                                    <span class="font-awesome">&#xf188;</span>
                                    {{ msg('report-issue') }}
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="https://meta.wikimedia.org/wiki/Talk:Grant_Metrics">
                                    <span class="font-awesome">&#xf086;</span>
                                    {{ msg('feedback') }}
                                </a>
                            </li>
                        </ul>
                    </div>
                    {% if exception is not defined %}
                        <div class="lang-group btn-group dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                  <path d="M12.87 15.07l-2.54-2.51.03-.03c1.74-1.94 2.98-4.17 3.71-6.53H17V4h-7V2H8v2H1v1.99h11.17C11.5 7.92 10.44 9.75 9 11.35 8.07 10.32 7.3 9.19 6.69 8h-2c.73 1.63 1.73 3.17 2.98 4.56l-5.09 5.02L4 19l5-5 3.11 3.11.76-2.04zM18.5 10h-2L12 22h2l1.12-3h4.75L21 22h2l-4.5-12zm-2.62 7l1.62-4.33L19.12 17h-3.24z"></path>
                                </svg>
                                {{ langName() }}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a target="_blank" href="#">{{ msg('help-translate') }}</a>
                                </li>
                                <li class="divider" role="separator"></li>
                                {% for key, value in allLangs() if key != 'qqq' %}
                                    <li>
                                        <a class="lang-link" href="{{ path(app.request.attributes.get('_route'), app.request.get('_route_params')|merge({'uselang': key})) }}" data-lang="{{ key }}">{{ value|e }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </span>
            </div>
        </header>

        {% if siteNoticeText is not empty %}
            <div class="site-notice container-full text-center">
                <div class="alert alert-{{ siteNoticeStyle }} alert-dismissible" role="alert">
                    {{ siteNoticeText|raw }}
                </div>
            </div>
        {% endif %}

        <main class="app-body">
            <div class="alert-container container">
                {% if app.session.flashBag.peekAll and exception is not defined and getControllerName() != 'default' %}
                    {% for level, messages in app.session.flashBag.all %}
                        {% set level = level == 'notice' ? 'danger' : level %}
                        <div class="alert alert-{{ level }} alert-dismissible" role="alert">
                            <button class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            {{ msg(messages[0]) }}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>

            {% block body %}
            {% endblock %}
        </main>
        {{ include('_footer.html.twig') }}
        {% include('_attribution.html.twig') %}
    </body>
</html>
