<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% if gmTitle is defined %}{{ gmTitle }} - {% endif %}
            {{ msg('grant-metrics') }}
        </title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {% block javascripts %}
            {% javascripts '%kernel.root_dir%/Resources/assets/js/*' %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
            {% javascripts '@jquery_js' %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
            {% javascripts '@bootstrap_js' %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
        {% block stylesheets %}
            {% stylesheets '%kernel.root_dir%/Resources/assets/css/*' filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
            {% stylesheets '@bootstrap_css' %}
                <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
    </head>
    <body class="{{ getControllerName() }} {{ getControllerName() }}-{{ getActionName() }}{% if isRTL() %} rtl{% endif %}"
        {% if backgroundUrl is defined %}
            style="background-image:url('{{ backgroundUrl }}'); background-size:cover"
        {% endif %}
    >
        {{ include('_header.html.twig') }}
        <main class="app-body">
            {% block body %}
            {% endblock %}
        </main>
        {{ include('_footer.html.twig') }}
    </body>
</html>
