{#
 # Generate a collapsible panel.
 # See also assets/css/application.scss and assets/js/application.js
 # @param string title       - i18n message that is the title of the content block, shown in a header. Also used as the basis for element IDs.
 # @param string description - shown on the right in grayed text.
 # @param string content     - raw content to show in the panel body.
 #}
{% macro panel(title, description, content) %}
    <section class="panel panel-default">
        <div class="panel-heading" role="tab" id="panelHeading{{ title|ucfirst }}">
            <h3 class="panel-title">
                <a role="button" data-toggle="collapse" href="#panelBody{{ title|ucfirst }}"
                   aria-expanded="false" aria-controls="panelBody{{ title|ucfirst }}">
                    {{ msg(title) }}
                </a>
            </h3>
            <div class="panel-description text-right">
                {{ description }}
            </div>
        </div>
        <div id="panelBody{{ title|ucfirst }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panelHeading{{ title|ucfirst }}">
            <div class="panel-body">
                {{ content }}
            </div>
        </div>
    </section>
{% endmacro %}

{% macro actionButtons(model, object, params, deletable = true) %}
    <a href="{{ path('Edit' ~ model, params) }}"
       class="{{ model|lower }}-action {{ model|lower }}-action__edit text-muted"
       title="{{ msg('edit-' ~ model|lower) }}">{#-
        -#}<span class="glyphicon glyphicon-cog"></span>{#-
    -#}</a>
    {% if model == 'Event' %}
        <a href="{{ path('CopyEvent', params) }}" class="event-action event-action__copy" title="{{ msg('copy') }}">{#-
            -#}<span class="font-awesome">&#xf24d;</span>{#-
        -#}</a>
    {% endif %}
    <a href="{% if deletable or isAdmin() %}{{ path('Delete' ~ model, params) }}{% endif %}"
       class="{{ model|lower }}-action {{ model|lower }}-action__delete{% if not(deletable) and not(isAdmin()) %} disabled{% endif %} text-danger"
       data-title="{{ object.displayTitle }}" data-model="{{ model|lower }}"
       title="{{ msg('delete') }}">{#-
        -#}<span class="glyphicon glyphicon-trash"></span>{#-
    -#}</a>
{% endmacro %}
