<div class="page-header">
    <div class="page-title">{{ msg(pageTitle)|upper }}</div>
    <div class="pull-right text-right">
        <div class="btn-group">
            <a class="btn btn-default" href="{{ path('EditEvent', {'programId': program.id, 'eventId': event.id}) }}">{{ msg('settings') }}</a>
            {% if event.isValid %}
                {% if isOrganizer %}
                    <button type="button" class="btn btn-default event-process-btn{% if jobStatus is not null %} disabled{% endif %}" data-event-id="{{ event.id }}">
                        {% if jobStatus == true %}
                            {{ msg('updating') }}
                        {% elseif jobStatus is same as(false) %}
                            {{ msg('queued') }}
                        {% elseif event.updated == null %}
                            {{ msg('calculate-totals') }}
                        {% else %}
                            {{ msg('update-data') }}
                        {% endif %}
                    </button>
                {% endif %}
                {% if downloadButtons is defined and event.updated != null %}
                    {{ downloadButtons }}
                {% endif %}
            {% endif %}
        </div> {# .btn-group #}

        {% if event.isValid %}
            <div class="event-stats-status">
                {% if jobStatus == true %}
                    {{ msg('updating-desc') }}
                {% elseif jobStatus is same as(false) %}
                    {{ msg('queued-desc') }}
                {% elseif event.updated != null %}
                    {{ msg('last-updated', [event.updatedWithTimezone|date_localize]) }}
                    ({{ event.displayTimezone }})
                {% endif %}
            </div>
        {% endif %}
    </div>
    <h1 class="page-subject-title">
        {# Only link to the event page if on the edit list page. #}
        {% if pageTitle == 'event-edit-list' %}
            <a href="{{ path('Event', {'programId': event.program.id, 'eventId': event.id}) }}">{{ bdi(event.displayTitle) }}</a>
        {% else %}
            {{ bdi(event.displayTitle) }}
        {% endif %}
    </h1>
</div>
