<div class="page-header">
    <div class="page-title">{{ msg(pageTitle)|upper }}</div>
    <div class="pull-right text-right">
        <div class="btn-group">
            <a class="btn btn-default event-settings-link" href="{{ path('EditEvent', {'programId': program.id, 'eventId': event.id}) }}">{{ msg('settings') }}</a>
            {% if event.isValid %}
                {##
                 # Check the job status and set messages and CSS classes accordingly.
                 #}
                {% if event.updated == null %}
                    {% set statsBtnText = msg('calculate-totals') %}
                    {% set statsDesc = '' %}
                {% else %}
                    {% set statsBtnText = msg('update-data') %}
                    {% set statsDesc = msg('last-updated', [event.updatedWithTimezone|date_localize]) ~ ' (' ~ event.displayTimezone ~ ')' %}
                {% endif %}
                {% if job != false and (job.status == constant('STATUS_STARTED', job) or job.status == constant('STATUS_QUEUED', job)) %}
                    {% set statsBtnText = msg('updating') %}
                    {% set statsDesc = msg('updating-desc') %}
                {% endif %}

                {% if isOrganizer %}
                    <button type="button" class="btn btn-default event-process-btn" data-event-id="{{ event.id }}">
                        <span class="event-state--initial">{{ statsBtnText }}</span>
                        <span class="event-state--started event-state--queued">{{ msg('updating') }}</span>
                        <span class="event-state--failed-timeout event-state--failed-unknown">{{ statsBtnText }}</span>
                    </button>
                {% endif %}
                {% if downloadButtons is defined and event.updated != null %}
                    {{ downloadButtons }}
                {% endif %}
            {% endif %}
        </div> {# .btn-group #}

        {% if event.isValid %}
            <div class="event-stats-status">
                <span class="event-state--initial">{{ statsDesc|raw }}</span>
                <span class="event-state--started event-state--queued">{{ msg('updating-desc') }}</span>
                <span class="event-state--failed-timeout event-state--failed-unknown">{{ statsDesc|raw }}</span>
            </div>
        {% endif %}
    </div>
    <h1 class="page-subject-title">
        {# Only link to the event page if on the edit list page. #}
        {% if pageTitle == 'event-edit-list' %}
            <a href="{{ path('Event', {'programId': event.program.id, 'eventId': event.id}) }}">{{ bdi(event.displayTitle) }}</a>
        {% else %}
            {{ bdi(event.displayTitle) }}
        {% endif %}
    </h1>
</div>

{### PROGRESS MODAL ###}
<div class="modal fade" id="progress_modal" tabindex="-1" role="dialog" aria-labelledby="progress_modal_label">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="progress_modal_label">
                    <span class="event-state--failed-timeout">{{ msg('error-event-timeout') }}</span>
                    <span class="event-state--failed-unknown">{{ msg('error-unknown') }}</span>
                </h4>
            </div>
            <div class="modal-body">
                <p id="progress_modal_body">
                    {##
                     # Currently we're only showing a modal for when something went wrong, and it uses the same message.
                     # If you add more state-specific messages, wrap each in their respective CSS class (e.g. event-state--queued).
                     #}
                    {% set feedbackLink = "<a target='_blank' href='https://meta.wikimedia.org/wiki/Talk:Event_Metrics'>" ~ msg('error-event-retry-link') ~ "</a>" %}
                    {{ msg('error-event-retry', [feedbackLink]) }}
                </p>
            </div>
        </div>
    </div>
</div>

<script>
    {# This is used for autocompletion on the wiki inputs. #}
    eventmetrics.eventshow.availableWikiPattern = {{ event.availableWikiPattern }};

    {# Poll status of pending/running jobs to automatically show stats when available. #}
    {% if event.hasJob %}
        $(function () {
            eventmetrics.eventshow.pollJob({{ event.id }});
        });
    {% endif %}
</script>
