<table class="event-metadata">
    <tr>
        <td>{{ msg('wikis') }}:</td>
        <td>
            {% if event.orphanWikisAndFamilies|length > 0 %}
                {% for wiki in event.orphanWikisAndFamilies %}
                    {{ wiki.domain }}{% if not loop.last %},{% endif %}
                {% endfor %}
            {% else %}
                {{ msg('all') }}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>{{ msg('start-date') }}:</td>
        <td>
            {{ event.start|date_localize }}
            ({{ event.displayTimezone }})
        </td>
    </tr>
    <tr>
        <td>{{ msg('end-date') }}:</td>
        <td>
            {{ event.end|date_localize }}
        </td>
    </tr>
</table>
