<table class="event-metadata">
    <tr>
        <th>{{ msg('metadata-start-date') }}</th>
        <td>
            {{ event.start|date_localize }}
            ({{ event.displayTimezone }})
        </td>
    </tr>
    <tr>
        <th>{{ msg('metadata-end-date') }}</th>
        <td>
            {{ event.end|date_localize }}
        </td>
    </tr>
    <tr>
        <th>
            {% set wikiCount = event.orphanWikisAndFamilies|length %}
            {% if event.familyWikis %}
                {# If the event includes any families (e.g. *.wikipedia) then set the count arbitrarily higher. #}
                {% set wikiCount = 10 %}
            {% endif %}
            {{ msg('metadata-wikis-label', [wikiCount]) }}</th>
        <td>
            {% set wikiLinks = [] %}
            {% for eventWiki in event.orphanWikisAndFamilies %}
                {% if eventWiki.isFamilyWiki %}
                    {% set wikiLink = eventWiki.domain %}
                {% else %}
                    {% set wikiLink = '<a href="https://'~eventWiki.domain~'.org/" target="_blank">'~eventWiki.domain~'</a>' %}
                {% endif %}
                {% set wikiLinks = wikiLinks|merge([wikiLink]) %}
            {% else %}
                {{ msg('all') }}
            {% endfor %}
            {{ wikiLinks|list_format|raw }}
        </td>
    </tr>
</table>
