<div class="row event-metadata">
    <div class="col-sm-4">
        <p class="dates">
            {{ msg('metadata-dates-from-to', [
                '<time>'~(event.start|date_localize)~'</time>',
                '<time>'~(event.end|date_localize)~'</time>',
                event.displayTimezone
            ]) }}
        </p>
    </div>
    <div class="col-sm-8">
        <ul class="wikis-and-categories">
            <li>
                {# @TODO This count isn't quite right, because we want to display plural even if there's only one '*.wikipedia'. #}
                <strong>{{ msg('metadata-wikis-label', [event.orphanWikisAndFamilies|length]) }}</strong>
                {% set wikiLinks = [] %}
                {% for eventWiki in event.orphanWikisAndFamilies %}
                    {% if eventWiki.isFamilyWiki %}
                        {% set wikiLink = eventWiki.domain %}
                    {% else %}
                        {% set wikiLink = '<a href="https://'~eventWiki.domain~'.org/" target="_blank">'~eventWiki.domain~'</a>' %}
                    {% endif %}
                    {% set wikiLinks = wikiLinks|merge([wikiLink]) %}
                {% else %}
                    {{ msg('all') }}
                {% endfor %}
                {{ wikiLinks|list_format|raw }}
            </li>
            <li>
                <strong>{{ msg('metadata-categories-label', [event.numCategories]) }}</strong>
                {% set catLinks = [] %}
                {% for cat in event.categories %}
                    {% set catLinks = catLinks|merge(['<a href="'~cat.url~'" target="_blank">'~cat.title~'</a>']) %}
                {% else %}
                    {{ msg('no-categories') }}
                {% endfor %}
                {{ catLinks|list_format|raw }}
            </li>
        </ul>
    </div>
</div>
