<table class="event-metadata">
    <tr>
        <th class="text-nowrap">{{ msg('metadata-start-date') }}</th>
        <td>
            {{ event.start|date_localize }}
            ({{ event.displayTimezone }})
        </td>
    </tr>
    <tr>
        <th class="text-nowrap">{{ msg('metadata-end-date') }}</th>
        <td>
            {{ event.end|date_localize }}
        </td>
    </tr>
    <tr>
        <th class="text-nowrap">
            {% set wiki_count = event.orphanWikisAndFamilies|length %}
            {% if event.familyWikis %}
                {# If the event includes any families (e.g. *.wikipedia) then set the count arbitrarily higher. #}
                {% set wiki_count = 10 %}
            {% endif %}
            {{ msg('metadata-wikis-label', [wiki_count]) }}</th>
        <td>
            {% set wiki_links = [] %}
            {% for eventWiki in event.orphanWikisAndFamilies %}
                {% if eventWiki.isFamilyWiki %}
                    {% set wiki_link = eventWiki.domain %}
                {% else %}
                    {% set wiki_link = '<a href="https://' ~ eventWiki.domain ~ '.org/" target="_blank">' ~ eventWiki.domain ~ '</a>' %}
                {% endif %}
                {% set wiki_links = wiki_links|merge([wiki_link]) %}
            {% else %}
                {{ msg('all') }}
            {% endfor %}
            {{ wiki_links|list_format|raw }}
        </td>
    </tr>
</table>
