{% import 'macros/layout.html.twig' as layout %}

{% set content %}
    {% if isOrganizer %}
        {{ form_errors(form) }}

        {# Valid participants should be shown below invalid ones. #}
        {% set validParticipants = [] %}

        {{ form_start(form, {'method': 'post', 'attr': {'class': 'save-participants-form', 'autocomplete': 'off'}}) }}
        <p class="new-participants-label">
            <label for="form_new_participants">{{ msg('add-more-participants') }}</label>
            <a href="https://meta.wikimedia.org/wiki/Special:MyLanguage/Event_Metrics#participant-filtering"
               title="{{ msg('add-more-participants-tooltip') }}" class="help-link" target="_blank">
                <span class="glyphicon glyphicon-question-sign"></span>
            </a><br />
            {{ msg('add-more-participants-note') }}
        </p>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group event-add-participants">
                    {{ form_widget(form.new_participants, {'attr': {'class': 'event-new-participants', 'id': 'form_new_participants', 'rows': 10}}) }}
                </div>
            </div>
            <div class="col-sm-6 save-participants-btn">
                {{ form_widget(form.submit, {'label': msg('save-participants'), 'attr': {'class': 'btn-primary'}}) }}
            </div>
        </div>

        <div class="event__participants">
            {% for participant in form.participants %}
                {% set invalidParticipant = false %}
                {% if not(participant.vars.valid) %}
                    {% set invalidParticipant = true %}
                {% endif %}

                {% set participantRow %}
                    <div class="row participant-row">
                        <div class="col-sm-4 form-group{% if invalidParticipant %} has-error{% endif %}">
                            {{ form_widget(participant, {'attr': {'class': 'user-input'}}) }}
                            {% if not(invalidParticipant) %}
                                <span class="font-awesome valid-input">&#xf05d;</span>
                            {% endif %}
                        </div>
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-default remove-participant form-control">
                                {{ msg('remove') }}
                            </button>
                        </div>
                    </div>
                {% endset %}

                {##
                 # If invalid, show immediately, otherwise merge into valid ones that
                 # will show below the invalid ones.
                 #}
                {% if invalidParticipant %}
                    {{ participantRow }}
                {% else %}
                    {% set validParticipants = validParticipants|merge([participantRow]) %}
                {% endif %}
            {% endfor %}

            {# Render valid participants. #}
            {% for row in validParticipants %}
                {{ row }}
            {% endfor %}
        </div>{# .event__participants #}

        {{ form_row(form._token) }}
        {{ form_end(form, {'render_rest': false}) }}

    {% else %}{# if not the organizer #}
        {% for participant in event.participants %}
            <div class="participant-row">
                {{ participant.username }}
            </div>
        {% endfor %}
    {% endif %}
{% endset %}

{% set collapsed = event.updated != null %}
{% set panelDesc = '' %}
{# Here we use event.participants.count, ensuring it's the number of manually entered participants (and not derived). #}
{% if event.participants.count == 0 and event.wikiByDomain('www.wikidata') %}
    {% set panelDesc = msg('error-filters-wikidata-panel') ~ ' <span class="error glyphicon glyphicon-asterisk"></span>' %}
{% elseif not filtersMissing and event.participants.count == 0 and wikisWithoutCats.count %}
    {% set panelDesc = msg('no-participants') ~ ' <span class="warn glyphicon glyphicon-warning-sign"></span>' %}
{% elseif filtersMissing %}
    {% set panelDesc = msg('no-participants') ~ ' <span class="error glyphicon glyphicon-asterisk"></span>' %}
{% else %}
    {% if event.participants.count > 0 %}
        {# Only show participants count on valid events if there are participants. #}
        {% set panelDesc = msg('num-participants', [event.participants.count]) %}
    {% endif %}
    {% set collapsed = true %}
{% endif %}
{{ layout.panel('participants-panel-title', panelDesc, content, collapsed) }}
