<div class="row event-stats">
    <div class="text-center event-stats--tile">
        <h4>{{ msg('participants') }}</h4>
        <h3>{{ event.numParticipants|num_format }}</h3>
    </div>
    {% for metric in event.visibleMetrics if metric in event.availableMetrics|keys %}
        {% set stat = event.getStatistic(metric) %}
        {% if stat is not empty %}
            <div class="text-center event-stats--tile">
                <h4{% if msg_exists(stat.metric ~ '-desc', [stat.offset]) %} data-toggle="tooltip" data-placement="top" title="{{ msg(stat.metric ~ '-desc', [stat.offset]) }}" class="event-metric-desc"{% endif %}>
                    {{ msg(stat.metric, [stat.offset]) }}
                    {% if msg_exists(stat.metric ~ '-desc', [stat.offset]) %}
                        <span class="glyphicon glyphicon-info-sign"></span>
                    {% endif %}
                </h4>
                <h3>
                    {% if stat.value is null %}
                        &ndash;
                    {% else %}
                        {{ stat.value|num_format }}
                    {% endif %}
                </h3>
            </div>
        {% endif %}
    {% endfor %}
</div>
