{% import 'macros/wiki.html.twig' as wikiHelper %}
<section class="event-wiki-stats clearfix">
    <header class="col-sm-12">
        <h3>{{ msg('per-wiki-metrics') }}</h3>
    </header>

    <table class="table table-hover event-wiki-stats--table">
        <thead>
        <tr>
            <th class="col-sm-3">{{ msg('wiki') }}</th>
            <th class="col-sm-2">{{ msg('pages-created') }}</th>
            <th class="col-sm-1">{{ msg('views') }}</th>
            <th class="col-sm-2">{{ msg('pages-improved') }}</th>
            <th class="col-sm-1">{{ msg('avg-views') }}</th>
            <th class="col-sm-2">{{ msg('edits') }}</th>
            <th class="col-sm-1">{{ msg('byte-difference') }}</th>
            <th class="col-sm-1">{{ msg('uploads') }}</th>
        </tr>
        </thead>
        <tbody>
        {% for familyName, wikis in event.wikisByFamily %}
            {% for wiki in wikis if wiki.domain != 'www.wikidata' %}
                <tr>
                    <td class="sort-entry--domain" data-value="{{ wiki.domain }}">
                        {{ wikiHelper.extLink('https://' ~ wiki.domain ~ '.org', wiki.domain) }}
                    </td>
                    {% for metric in ['pages-created', 'pages-created-pageviews', 'pages-improved', 'pages-improved-pageviews-avg', 'edits', 'byte-difference', 'files-uploaded'] %}
                        {% set stat = wiki.statistic(metric) %}
                        <td class="sort-entry--{{ metric }}" data-value="{{ stat != null ? stat.value : -1 }}">
                            {% if stat is not null %}
                                {{ stat.value|num_format }}
                            {% else %}
                                &mdash;
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
</section>
