{% extends 'base.html.twig' %}
{% import 'macros/layout.html.twig' as layout %}
{% import 'macros/wiki.html.twig' as wiki %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        {% if isOrganizer %}
            <li>
                <a href="{{ path('Programs') }}">{{ msg('my-programs') }}</a>
            </li>
        {% endif %}
        <li>
            <a href="{{ path('Program', {'programId': program.id}) }}">{{ bdi(program.displayTitle) }}</a>
        </li>
        <li>
            <a href="{{ path('Event', {'programId': program.id, 'eventId': event.id}) }}">{{ bdi(event.displayTitle) }}</a>
        </li>
        <li class="active">{{ msg('event-data') }}</li>
    </ol>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="page-header">
            <h1>
                {{ msg('event-data-for', [event.displayTitle]) }}
            </h1>
        </div>

        <div class="pull-right text-right">
            <div class="btn-group event-export">
                <a download="{{ program.displayTitle }} - {{ event.displayTitle }}.csv" href="{{ path('Revisions', {'programId': program.id, 'eventId': event.id, 'format': 'csv'}) }}" class="btn btn-default event-export-btn">
                    <span class="glyphicon glyphicon-export"></span>
                    {{ msg('download-csv') }}
                </a>
            </div>
            <div class="btn-group event-export">
                <a target="_blank" href="{{ path('Revisions', {'programId': program.id, 'eventId': event.id, 'format': 'wikitext'}) }}" class="btn btn-default event-export-btn">
                    <span class="glyphicon glyphicon-export"></span>
                    {{ msg('download-wiki-table') }}
                </a>
            </div>
            <div class="event-stats-status">
                {% if event.updated != null %}
                    {{ msg('last-updated', [event.updated|date_localize]) }}
                {% endif %}
            </div>
        </div>

        {% include 'events/_metadata.html.twig' with {'event': event} %}

        {% include 'events/_stats_summary.html.twig' with {'event': event} %}
    </div>

    <section class="event-revisions container-fluid">
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    {% for column in ['date', 'page', 'wiki', 'username', 'edit-summary'] %}
                        <th>{{ msg(column) }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for rev in revisions %}
                    <tr class="event-revision">
                        <td class="text-nowrap">
                            ({{ wiki.pageLink('Special:Diff/' ~ rev.id, rev.wiki, msg('diff')|lower) }})
                            {{ wiki.pageLink('Special:PermaLink/' ~ rev.id, rev.wiki, rev.timestamp|date_localize) }}
                        </td>
                        <td>
                            {# TODO: programatically fetch namespace name from meta API #}
                            {{ wiki.pageLink(wiki.pagePath(rev), rev.wiki) }}
                        </td>
                        <td class="text-nowrap">{{ rev.wiki }}</td>
                        <td class="text-nowrap">
                            {{ wiki.pageLink('User:' ~ rev.username, rev.wiki, rev.username) }}
                        </td>
                        <td>{{ rev.summary|wikify(rev.wiki, rev.page)|raw }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {##### PAGINATION #####}
        {% set numPages = (numRevisions / numResultsPerPage)|round(0, 'ceil') %}
        {% if numPages > 1 %}
            {% set hasPrev = offset - 1 >= 1 %}
            {% set hasNext = offset + 1 < numPages + 1 %}
            {% set pathVars = {'programId': program.id, 'eventId': event.id} %}

            <nav aria-label="..." class="text-center">
                <ul class="pagination">
                    <li{% if not(hasPrev) %} class="disabled"{% endif %}>
                        {% if hasPrev %}
                            <a href="{{ path('Revisions', pathVars|merge(offset == 2 ? {} : {'offset': offset - 1})) }}" aria-label="Previous">
                        {% endif %}
                        <span aria-hidden="true">
                            <span class="glyphicon glyphicon-arrow-left"></span>
                            {{ msg('pager-older-n', [numResultsPerPage]) }}
                        </span>
                        {% if hasPrev %}</a>{% endif %}
                    </li>
                    {% for page in 1..numPages %}
                        {% set active = offset == loop.index %}
                        <li{% if active %} class="active"{% endif %}>
                            <a href="{{ path('Revisions', pathVars|merge(loop.index == 1 ? {} : {'offset': loop.index})) }}">
                                {{ page }} {% if active %}<span class="sr-only">(current)</span>{% endif %}
                            </a>
                        </li>
                    {% endfor %}
                    <li{% if not(hasNext) %} class="disabled"{% endif %}>
                        {% if hasNext %}
                            <a href="{{ path('Revisions', pathVars|merge({'offset': offset + 1})) }}" aria-label="Next">
                        {% endif %}
                        <span aria-hidden="true">
                            {{ msg('pager-newer-n', [numResultsPerPage]) }}
                            <span class="glyphicon glyphicon-arrow-right"></span>
                        </span>
                        {% if hasNext %}</a>{% endif %}
                    </li>
                </ul>
            </nav>
        {% endif %}
    </section>
{% endblock %}
