{% extends 'base.html.twig' %}
{% import 'macros/layout.html.twig' as layout %}
{% form_theme form 'blocks/forms.html.twig' %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        {% if isOrganizer %}
            <li>
                <a href="{{ path('Programs') }}">{{ msg('my-programs') }}</a>
            </li>
        {% endif %}
        <li>
            <a href="{{ path('Program', {'programTitle': program.title}) }}">{{ program.displayTitle }}</a>
        </li>
        <li class="active">
            {{ event.displayTitle }}
        </li>
    </ol>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="page-header">
            <h1>
                {{ event.displayTitle }}
                {% if isOrganizer %}
                    <small>
                        (<a href="{{ path('EditEvent', {'programTitle': program.title, 'eventTitle': event.title}) }}">{{ msg('edit-event')|lower }}</a>)
                    </small>
                {% endif %}
            </h1>
        </div>

        <div class="pull-right text-right">
            {% if isOrganizer and event.numParticipants > 0 %}
                <button type="button" class="btn btn-primary event-process-btn" data-event-id="{{ event.id }}">
                    {% if event.updated == null %}
                        {{ msg('calculate-totals') }}
                    {% else %}
                        {{ msg('update-data') }}
                    {% endif %}
                </button>
            {% endif %}
            {% if event.updated != null %}
                <div class="btn-group event-export">
                    <a href="{{ path('Revisions', {'programTitle': program.title, 'eventTitle': event.title}) }}" class="btn btn-default event-export-btn">
                        <span class="glyphicon glyphicon-export"></span>
                        {{ msg('view-all-data') }}
                    </a>
                </div>
            {% endif %}
            <div class="event-stats-status">
                {% if event.updated != null %}
                    {{ msg('last-updated', [event.updatedWithTimezone|date_localize]) }}
                    ({{ event.displayTimezone }})
                {% endif %}
            </div>
        </div>

        {% include 'events/_metadata.html.twig' with {'event': event} %}

        {% if event.wikis|length > 1 and event.numParticipants > 0 %}
            {% set metricOrder = [] %}
            <table class="table gm-table event-wiki-stats">
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            <div>{{ msg('participants') }}</div>
                        </th>
                        {% set sortableMetrics = ['pages-created', 'pages-improved'] %}
                        {% for metric, offset in event.availableMetrics %}
                            {% if event.statistic(metric) is defined %}
                                {% set stat = event.statistic(metric) %}
                                {% set metricOrder = metricOrder|merge([stat.metric]) %}
                                {% set hasDesc = msgExists(stat.metric ~ '-desc', [stat.offset]) %}
                                <th>
                                    <div class="{% if stat.metric in sortableMetrics %} sort-link sort-link--{{ stat.metric }}{% endif %}{% if hasDesc %} event-metric-desc{% endif %}" {% if hasDesc %} data-toggle="tooltip" data-placement="top" title="{{ msg(stat.metric ~ '-desc', [stat.offset]) }}"{% endif %} data-column="{{ stat.metric }}">
                                        {{ msg(stat.metric, [stat.offset]) }}
                                    </div>
                                </th>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>{{ msg('totals') }}</th>
                        <th>{{ event.numParticipants }}</th>
                        {% for metric in metricOrder %}
                            <th>{{ event.statistic(metric).value|num_format }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for wiki in event.wikis if not(wiki.familyWiki) %}
                        <tr>
                            <td class="sort-entry--domain" data-value="{{ wiki.domain }}">
                                {{ wiki.domain }}
                            </td>
                            <td>&mdash;</td>
                            {% for metric in metricOrder %}
                                {% set stat = wiki.statistic(metric) %}
                                <td class="sort-entry--{{ metric }}" data-value="{{ stat != null ? stat.value : -1 }}">
                                    {% if stat != null %}
                                        {{ stat.value|num_format }}
                                    {% else %}
                                        &mdash;
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            {% include 'events/_stats_summary.html.twig' with {'event': event} %}
        {% endif %}

        {% set content %}
            {% if isOrganizer %}
                {{ form_errors(form) }}

                {# Valid participants should be shown below invalid ones. #}
                {% set validParticipants = [] %}

                {{ form_start(form, {'method': 'post', 'attr': {'class': 'form-horizontal save-participants-form', 'autocomplete': 'off'}}) }}
                    {% for participant in form.participants %}
                        {% set invalidParticipant = false %}
                        {% if not(participant.vars.valid) %}
                            {% set invalidParticipant = true %}
                        {% endif %}

                        {% set participantRow %}
                            <div class="form-group participant-row{% if invalidParticipant %} has-error{% endif %}">
                                <div class="col-sm-4">
                                    {{ form_widget(participant, {'attr': {'class': 'user-input'}}) }}
                                    {% if invalidParticipant %}
                                        <span class="font-awesome invalid-input">&#xf071;</span>
                                    {% else %}
                                        <span class="font-awesome valid-input">&#xf05d;</span>
                                    {% endif %}
                                </div>
                                <div class="col-sm-2">
                                    <button type="button" class="btn btn-default remove-participant">
                                        {{ msg('remove') }}
                                    </button>
                                </div>
                            </div>
                        {% endset %}

                        {##
                         # If invalid, show immediately, otherwise merge into valid ones that
                         # will show below the invalid ones.
                         #}
                        {% if invalidParticipant %}
                            {{ participantRow }}
                        {% else %}
                            {% set validParticipants = validParticipants|merge([participantRow]) %}
                        {% endif %}
                    {% endfor %}

                    {# Render valid participants. #}
                    {% for row in validParticipants %}
                        {{ row }}
                    {% endfor %}

                    <div class="col-sm-6 col-sm-offset-6 save-participants-btn">
                        {{ form_widget(form.submit, {'label': msg('save-participants'), 'attr': {'class': 'btn-primary'}}) }}
                    </div>

                    <div class="form-group col-sm-6 event-add-participants">
                        <label for="form_new_participants">{{ msg('add-more-participants') }}</label>
                        {{ form_widget(form.new_participants, {'attr': {'class': 'event-new-participants', 'rows': 10}}) }}
                    </div>
                    {% if form.participants|length == 0 %}
                        <div class="col-sm-6">
                            {{ form_widget(form.submit, {'label': msg('save-participants'), 'attr': {'class': 'btn-primary'}}) }}
                        </div>
                    {% endif %}

                    {{ form_row(form._token) }}
                {{ form_end(form, {'render_rest': false}) }}
            {% else %}
                {% for participant in event.participants %}
                    <div class="participant-row">
                        {{ participant.username }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endset %}
        {{
            layout.eventAccordion(
                'participants',
                event.numParticipants ~ ' ' ~ msg('num-participants', [event.numParticipants]),
                content
            )
        }}

    </div>
{% endblock %}
