{% extends 'base.html.twig' %}
{% import 'macros/layout.html.twig' as layout %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        {% if isOrganizer %}
            <li>
                <a href="{{ path('Programs') }}">{{ msg('my-programs') }}</a>
            </li>
        {% endif %}
        <li>
            <a href="{{ path('Program', {'programTitle': program.title}) }}">{{ program.displayTitle }}</a>
        </li>
        <li class="active">
            {{ event.displayTitle }}
        </li>
    </ol>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="page-header">
            <h1>
                {{ event.displayTitle }}
                {% if isOrganizer %}
                    <small>
                        (<a href="{{ path('EditEvent', {'programTitle': program.title, 'eventTitle': event.title}) }}">{{ msg('edit-event')|lower }}</a>)
                    </small>
                {% endif %}
            </h1>
        </div>

        {% if event.isValid %}
            <div class="pull-right text-right">
                {% if isOrganizer %}
                    <button type="button" class="btn btn-primary event-process-btn{% if jobStatus is not null %} disabled{% endif %}" data-event-id="{{ event.id }}">
                        {% if jobStatus == true %}
                            {{ msg('updating') }}
                        {% elseif jobStatus is same as(false) %}
                            {{ msg('queued') }}
                        {% elseif event.updated == null %}
                            {{ msg('calculate-totals') }}
                        {% else %}
                            {{ msg('update-data') }}
                        {% endif %}
                    </button>
                {% endif %}
                {% if event.updated != null %}
                    <div class="btn-group event-export">
                        <a href="{{ path('Revisions', {'programTitle': program.title, 'eventTitle': event.title}) }}" class="btn btn-default event-export-btn{% if jobStatus is not null %} disabled{% endif %}">
                            <span class="glyphicon glyphicon-export"></span>
                            {{ msg('view-all-data') }}
                        </a>
                    </div>
                {% endif %}
                <div class="event-stats-status">
                    {% if jobStatus == true %}
                        {{ msg('updating-desc') }}
                    {% elseif jobStatus is same as(false) %}
                        {{ msg('queued-desc') }}
                    {% elseif event.updated != null %}
                        {{ msg('last-updated', [event.updatedWithTimezone|date_localize]) }}
                        ({{ event.displayTimezone }})
                    {% endif %}
                </div>
            </div>
        {% endif %}

        {% include 'events/_metadata.html.twig' with {'event': event} %}

        <section id="stats">
        {% if event.updated is not null %}
            {% if event.wikis|length > 1 %}
                <h2>{{ msg('statistics') }}</h2>
                {% set commonMetrics = ['new-editors', 'retention'] %}
                <table class="event-metadata event-metadata--grouped">
                    <tr>
                        <th scope="row">{{ msg('participants') }}:</th>
                        <td>{{ event.numParticipants }}</td>
                    </tr>
                    {% for metric in commonMetrics %}
                        {% set stat = event.statistic(metric) %}
                        <tr>
                            <th scope="row">
                                {{ msg(metric, [stat.offset]) }}:
                                {% if msg_exists(stat.metric ~ '-desc', [stat.offset]) %}
                                    <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="top" title="{{ msg(stat.metric ~ '-desc', [stat.offset]) }}"></span>
                                {% endif %}
                            </th>
                            <td>{{ stat.value|num_format }}</td>
                        </tr>
                    {% endfor %}
                </table>

                {% for familyName, wikis in event.wikisByFamily %}
                    {% if event.wikisByFamily|length > 1 %}
                        <hr class="event-wiki-stats--grouped-hr" />
                    {% endif %}
                    {% include 'events/_wiki_table.html.twig' with {'event': event, 'wikis': wikis, 'availableMetrics': event.availableMetrics(familyName)} %}
                {% endfor %}
            {% else %}
                {% include 'events/_stats_summary.html.twig' with {'event': event} %}
            {% endif %}
        {% else %}
            <div class="text-center event-wiki-stats--empty">
                {# FIXME: check for event.numCategories == 0 and add msg('categories') once T194707#4620358 is resolved #}
                {% if event.numParticipants == 0 %}
                    {{ msg('event-misconfig', [msg('participants')]) }}
                {% elseif event.startWithTimezone > date() %}
                    {{ msg('event-in-future') }}
                    (<a href="{{ path('EditEvent', {'programTitle': program.title, 'eventTitle': event.title}) }}">{{ msg('edit-event')|lower }}</a>)
                {% else %}
                    {{ msg('event-no-data') }}
                    <a href="#" class="event-process-link">{{ msg('calculate-totals') }}</a>.
                {% endif %}
            </div>
        {% endif %}
        </section><!-- #stats -->

        {### FORMS ###}

        {% for formType, form in forms %}
            {% form_theme form 'blocks/forms.html.twig' %}
            {% include ('events/_' ~ formType|lower ~ '.html.twig') with {'form': form, 'event': event, 'isOrganizer': isOrganizer} %}
        {% endfor %}
    </div>

    {# This is used for autocompletion on the wiki inputs. #}
    <script>
        grantmetrics.eventshow.availableWikiPattern = {{ event.availableWikiPattern }};
    </script>
{% endblock %}
