{% extends 'base.html.twig' %}
{% import 'macros/layout.html.twig' as layout %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        {% if isOrganizer %}
            <li><a href="{{ path('Programs') }}">{{ msg('my-programs') }}</a></li>
        {% endif %}
        <li><a href="{{ path('Program', {'programId': program.id}) }}">{{ bdi(program.displayTitle) }}</a></li>
        <li class="active">{{ bdi(event.displayTitle) }}</li>
    </ol>
{% endblock %}

{% block body %}
    <div class="container">
        {% include 'events/_header.html.twig' with {'event': event, 'pageTitle': 'event-summary'} %}

        {% if event.updated != null %}
            <div class="btn-group event-export pull-right">
                <a href="{{ path('Revisions', {'programId': program.id, 'eventId': event.id}) }}" class="btn btn-default event-export-btn">
                    <span class="glyphicon glyphicon-export"></span>
                    {{ msg('view-all-edits') }}
                </a>
            </div>
        {% endif %}

        {% include 'events/_metadata.html.twig' with {'event': event} %}

        {% set helpLink %}
            <a href="https://meta.wikimedia.org/wiki/Special:MyLanguage/Event_Metrics#filtering-required"
               title="{{ msg('error-filters-desc-tooltip') }}">
                <span class="glyphicon glyphicon-question-sign"></span>
            </a>
        {% endset %}

        {% if filtersMissing %}
            <section class="event-errorbox error">
                <h3>{{ msg('error-filters-header') }}</h3>
                <p>
                    {{ msg('error-filters-desc') }}
                    {{ helpLink }}
                </p>
                <ul>
                    {% if isOnlyWikidata %}
                        <li>{{ msg('error-filters-wikidata-only') }}</li>
                    {% endif %}
                    {% if event.wikiByDomain('www.wikidata') %}
                        <li>{{ msg('error-filters-wikidata') }}</li>
                    {% else %}
                        <li>{{ msg('error-filters-participants-or-categories') }}</li>
                        <li>{{ msg('error-filters-every-wiki') }}</li>
                        <li>{{ msg('error-filters-participants-desc') }}</li>
                        <li>{{ msg('error-filters-categories-desc') }}</li>
                        <li>{{ msg('error-filters-combination') }}</li>
                    {% endif %}
                </ul>
            </section>

        {% elseif event.participants.count == 0 and ( wikisWithoutCats.count or event.wikiByDomain('www.wikidata') ) %}
            <section class="event-errorbox warn">
                <h3>{{ msg('category-warning-header') }}</h3>
                <p>
                    {{ msg('category-warning-desc', ['<a href="#" class="event-process-link">'~msg('update-data')~'</a>'])|raw }}
                    {{ helpLink }}
                </p>
                <ul>
                    {% if wikisWithoutCats.count %}
                    <li>
                        {{ msg('error-filters-categories-missing') }}
                        {% set cats = [] %}
                        {% for noCatWiki in wikisWithoutCats %}
                            {% set cats = cats|merge(['<strong>'~noCatWiki.domain~'</strong>']) %}
                        {% endfor %}
                        {{ cats|list_format|raw }}
                    </li>
                    {% endif %}
                    <li>{{ msg('error-filters-every-wiki') }}</li>
                    {% if event.wikiByDomain('www.wikidata') %}
                        <li>{{ msg('error-filters-wikidata') }}</li>
                    {% endif %}
                    <li>{{ msg('error-filters-participants-desc') }}</li>
                    <li>{{ msg('error-filters-categories-desc') }}</li>
                    <li>{{ msg('error-filters-combination') }}</li>
                </ul>
            </section>

        {% elseif not event.updated and not event.hasJob %}
            {% if event.startUTC > date() %}
                <section class="event-errorbox warn">
                    {{ msg('event-in-future') }}
                    (<a href="{{ path('EditEvent', {'programId': program.id, 'eventId': event.id}) }}">{{ msg('settings')|lower }}</a>)
                </section>
            {% else %}
                <section class="event-errorbox success event-wiki-stats--empty">
                    {{ msg('event-no-data') }}
                    <a href="#" class="event-process-link">{{ msg('calculate-totals') }}</a>.
                </section>
            {% endif %}
        {% endif %}

        {### FORMS ###}
        {% for formType, form in forms %}
            {% form_theme form 'blocks/forms.html.twig' %}
            {% include ('events/_' ~ formType|lower ~ '.html.twig') %}
        {% endfor %}

        <section id="stats">
            {% if event.updated is not null %}
                {% if event.wikis|length > 1 %}
                    <h2>{{ msg('statistics') }}</h2>
                    {% set commonMetrics = ['participants', 'new-editors', 'retention'] %}
                    <table class="event-metadata event-metadata--grouped">
                        {% for metric in event.visibleMetrics if metric in commonMetrics %}
                            {% set stat = event.statistic(metric) %}
                            {% if stat is not null %}
                                <tr>
                                    <th scope="row">
                                        {{ msg(metric, [stat.offset]) }}:
                                        {% if msg_exists(stat.metric ~ '-desc', [stat.offset]) %}
                                            <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="top" title="{{ msg(stat.metric ~ '-desc', [stat.offset]) }}"></span>
                                        {% endif %}
                                    </th>
                                    <td>
                                        {% if stat.value is null %}
                                            &ndash;
                                        {% else %}
                                            {{ stat.value|num_format }}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>

                    {% for familyName, wikis in event.wikisByFamily %}
                        {% if event.wikisByFamily|length > 1 %}
                            <hr class="event-wiki-stats--grouped-hr" />
                        {% endif %}
                        {% include 'events/_wiki_table.html.twig' with {'event': event, 'wikis': wikis, 'availableMetrics': event.availableMetrics(familyName)} %}
                    {% endfor %}
                {% else %}
                    {% include 'events/_stats_summary.html.twig' with {'event': event} %}
                {% endif %}
            {% endif %}
        </section><!-- #stats -->

    </div>
{% endblock %}
