{% extends 'base.html.twig' %}
{% import 'macros/layout.html.twig' as layout %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        {% if isOrganizer %}
            <li><a href="{{ path('Programs') }}">{{ msg('my-programs') }}</a></li>
        {% endif %}
        <li><a href="{{ path('Program', {'programId': program.id}) }}">{{ bdi(program.displayTitle) }}</a></li>
        <li class="active">{{ bdi(event.displayTitle) }}</li>
    </ol>
{% endblock %}

{% block body %}
    <div class="container">
        {% include 'events/_header.html.twig' with {'event': event, 'pageTitle': 'event-summary'} %}

        {% if event.updated != null %}
            <div class="btn-group event-export pull-right">
                <a href="{{ path('Revisions', {'programId': program.id, 'eventId': event.id}) }}" class="btn btn-default event-export-btn">
                    <span class="glyphicon glyphicon-export"></span>
                    {{ msg('view-edit-list') }}
                </a>
            </div>
        {% endif %}

        {% include 'events/_metadata.html.twig' with {'event': event} %}

        <section id="stats">
            {% if event.updated is not null %}
                {% if event.wikis|length > 1 %}
                    <h2>{{ msg('statistics') }}</h2>
                    {% set commonMetrics = ['new-editors', 'retention'] %}
                    <table class="event-metadata event-metadata--grouped">
                        <tr>
                            <th scope="row">{{ msg('participants') }}:</th>
                            <td>{{ event.numParticipants }}</td>
                        </tr>
                        {% for metric in event.visibleMetrics if metric in commonMetrics %}
                            {% set stat = event.statistic(metric) %}
                            <tr>
                                <th scope="row">
                                    {{ msg(metric, [stat.offset]) }}:
                                    {% if msg_exists(stat.metric ~ '-desc', [stat.offset]) %}
                                        <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="top" title="{{ msg(stat.metric ~ '-desc', [stat.offset]) }}"></span>
                                    {% endif %}
                                </th>
                                <td>{{ stat.value|num_format }}</td>
                            </tr>
                        {% endfor %}
                    </table>

                    {% for familyName, wikis in event.wikisByFamily %}
                        {% if event.wikisByFamily|length > 1 %}
                            <hr class="event-wiki-stats--grouped-hr" />
                        {% endif %}
                        {% include 'events/_wiki_table.html.twig' with {'event': event, 'wikis': wikis, 'availableMetrics': event.availableMetrics(familyName)} %}
                    {% endfor %}
                {% else %}
                    {% include 'events/_stats_summary.html.twig' with {'event': event} %}
                {% endif %}
            {% else %}
                <div class="text-center event-wiki-stats--empty">
                    {% if event.hasJob %}
                        &nbsp;
                    {% elseif event.numParticipants == 0 %}
                        {# FIXME: ^ also check for event.numCategories == 0 and add msg('categories') once T194707#4620358 is resolved #}
                        {{ msg('event-misconfig', [msg('participants')]) }}
                    {% elseif event.startUTC > date() %}
                        {{ msg('event-in-future') }}
                        (<a href="{{ path('EditEvent', {'programId': program.id, 'eventId': event.id}) }}">{{ msg('settings')|lower }}</a>)
                    {% else %}
                        {{ msg('event-no-data') }}
                        <a href="#" class="event-process-link">{{ msg('calculate-totals') }}</a>.
                    {% endif %}
                </div>
            {% endif %}
        </section><!-- #stats -->

        {### FORMS ###}

        {% for formType, form in forms %}
            {% form_theme form 'blocks/forms.html.twig' %}
            {% include ('events/_' ~ formType|lower ~ '.html.twig') with {'form': form, 'event': event, 'isOrganizer': isOrganizer} %}
        {% endfor %}
    </div>
{% endblock %}
