{% form_theme form 'blocks/forms.html.twig' %}

{{ form_errors(form) }}

<fieldset class="program__basic-info">
    {{ form_row(form.title, {'value': form.vars.data.displayTitle}) }}
</fieldset>

{# This is what gets copied when they add a new organizer row. #}
<div class="form-group organizer-row organizer-row__template hidden">
    <div class="col-sm-8 col-lg-offset-2">
        {# Index value of id and name attributes gets rewritten when copied. #}
        <input class="form-control user-input" id="program_organizers_999" name="program[organizers][999]">
    </div>
    <div class="col-sm-2">
        <button type="button" class="btn btn-default remove-organizer">
            {{ msg('remove') }}
        </button>
    </div>
</div>

<fieldset class="program__organizers">
    {# The organizer currently viewing the program cannot remove or rename themself. #}
    {% for organizer in form.organizers %}
        {% set isViewingOrganizer = organizer.vars.value == logged_in_user().username %}

        <div class="form-group organizer-row">
            {% if loop.index == 1 %}
                <label for="form_organizers_1" class="col-sm-2 control-label{% if form_errors(form.organizers) %} text-danger{% endif %}">{{ msg('organizers') }}</label>
            {% else %}
                <div class="col-sm-2"></div>
            {% endif %}
            <div class="col-sm-8{% if form_errors(organizer) %} has-error{% endif %}">
                {{ form_widget(organizer, {'attr': {'class': 'user-input', 'readonly': isViewingOrganizer}}) }}
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-default remove-organizer"{% if isViewingOrganizer %} disabled="disabled"{% endif %}>
                    {{ msg('remove') }}
                </button>
            </div>
        </div>
    {% endfor %}
</fieldset>

<div class="form-group">
    <div class="col-sm-2"></div>
    <div class="col-sm-2">
        <a href="#" class="add-organizer">
            <div class="glyphicon glyphicon-plus-sign"></div>
            {{ msg('add-organizer') }}
        </a>
    </div>
</div>

{{ form_widget(form.submit, {'label': msg('submit'), 'attr': {'class': 'btn-primary'}}) }}
