{% extends 'base.html.twig' %}
{% import 'macros/layout.html.twig' as layout %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="active">{{ msg('my-programs') }}</li>
    </ol>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="page-header">
            <a href="{{ path('NewProgram') }}" class="btn btn-default pull-right">
                {{ msg('create-new-program') }}
            </a>
            <h1>{{ msg('my-programs') }}</h1>
        </div>

        {% if programs|length < 1 %}
            <div class="text-center">{{  msg('no-programs') }}</div>
        {% else %}
            <table class="table gm-table programs-list">
                <thead>
                    <tr>
                        <th>{{ msg('program') }}</th>
                        <th class="text-nowrap"></th>
                        <th class="text-nowrap">{{ msg('events') }}</th>
                        <th class="text-nowrap">{{ msg('participants') }}</th>
                        {% for metric, offset in metrics %}
                            <th class="text-nowrap">{{ msg(metric, [offset]) }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for program in programs %}
                        <tr class="program-entry">
                            <td>
                                <a href="{{ path('Program', {'programTitle': program.title}) }}">{{ program.displayTitle }}</a>
                            </td>
                            <td class="text-nowrap">
                                {{ layout.actionButtons('Program', program, {'programTitle': program.title}, program.numEvents == 0) }}
                            </td>
                            <td class="text-nowrap">{{ program.numEvents|num_format }}</td>
                            <td class="text-nowrap">
                                {{ programRepo.numParticipants(program)|num_format }}
                            </td>
                            {% for metric in metrics|keys %}
                                <td class="text-nowrap">
                                    {{ program.statistic(metric)|num_format }}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}
