{% extends 'base.html.twig' %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="active">{{ msg('my-programs') }}</li>
    </ol>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="page-header">
            <a href="{{ path('NewProgram') }}" class="btn btn-default pull-right">
                {{ msg('create-new-program') }}
            </a>
            <h1>{{ msg('my-programs') }}</h1>
        </div>

        <table class="table gm-table programs-list">
            <thead>
                <tr>
                    <th>{{ msg('program') }}</th>
                    <th class="text-nowrap"></th>
                    <th class="text-nowrap">{{ msg('events') }}</th>
                    <th class="text-nowrap">{{ msg('participants') }}</th>
                    {% for metric, offset in metrics %}
                        <th class="text-nowrap">{{ msg(metric, [offset]) }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for program in programs %}
                    <tr class="program-entry">
                        <td>
                            <a href="{{ path('Program', {'title': program.title}) }}">{{ program.displayTitle }}</a>
                        </td>
                        <td class="text-nowrap">
                            <a href="{{ path('EditProgram', {'title': program.title}) }}"
                               class="program-action program-action__edit text-muted">
                                <span class="glyphicon glyphicon-cog"></span>
                            </a>
                            <a href="{{ path('DeleteProgram', {'title': program.title}) }}"
                               class="program-action program-action__delete text-danger"
                               data-title="{{ program.displayTitle }}">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </td>
                        <td class="text-nowrap">{{ program.numEvents }}</td>
                        <td class="text-nowrap">
                            {# {{ program.numParticipants }} #}
                        </td>
                        {% for metric in metrics|keys %}
                            <td class="text-nowrap">
                                {# {{ program.statistic(metric).value }} #}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
