{% extends 'base.html.twig' %}
{% import 'macros/layout.html.twig' as layout %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="active">{{ msg('my-programs') }}</li>
    </ol>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="page-header">
            <a href="{{ path('NewProgram') }}" class="btn btn-default pull-right">
                {{ msg('create-new-program') }}
            </a>
            <h1>{{ msg('my-programs') }}</h1>
        </div>

        {% if programs|length < 1 %}
            <div class="text-center">{{  msg('no-programs') }}</div>
        {% else %}
            <table class="table gm-table programs-list">
                <thead>
                    <tr>
                        <th>
                            <div class="sort-link sort-link--program" data-column="program">
                                {{ msg('program') }}
                            </div>
                        </th>
                        <th class="text-nowrap"></th>
                        <th class="text-nowrap">
                            <div class="sort-link sort-link--events" data-column="events">
                                {{ msg('events') }}
                            </div>
                        </th>
                        <th class="text-nowrap">
                            <div class="sort-link sort-link--participants" data-column="participants">
                                {{ msg('participants') }}
                            </div>
                        </th>
                        {% for metric, offset in metrics %}
                            <th class="text-nowrap">
                                <div class="sort-link sort-link--{{ metric }}" data-column="{{ metric }}">
                                    {{ msg(metric, [offset]) }}
                                </div>
                            </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for program in programs %}
                        <tr class="program-entry">
                            <td class="sort-entry--program" data-value="{{ program.title }}">
                                <a href="{{ path('Program', {'programTitle': program.title}) }}">{{ program.displayTitle }}</a>
                            </td>
                            <td>
                                {{ layout.actionButtons('Program', program, {'programTitle': program.title}, program.numEvents == 0) }}
                            </td>
                            <td class="sort-entry--events text-nowrap" data-value="{{ program.numEvents }}">
                                {{ program.numEvents|num_format }}
                            </td>
                            {% set numParticipants = programRepo.numParticipants(program) %}
                            <td class="sort-entry--participants text-nowrap" data-value="{{ numParticipants }}">
                                {{ numParticipants|num_format }}
                            </td>
                            {% for metric in metrics|keys %}
                                <td class="sort-entry--{{ metric }} text-nowrap" data-value="{{ program.statistic(metric) }}">
                                    {{ (program.statistic(metric) ? program.statistic(metric)|num_format : '&ndash;')|raw }}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}
