{% extends 'base.html.twig' %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="active">{{ msg('my-programs') }}</li>
    </ol>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="page-header">
            <a href="{{ path('NewProgram') }}" class="btn btn-default pull-right">
                {{ msg('create-new-program') }}
            </a>
            <h1>{{ msg('my-programs') }}</h1>
        </div>

        <table class="table gm-table programs-list">
            <thead>
                <tr>
                    <th>{{ msg('program') }}</th>
                    <th>{{ msg('events') }}</th>
                    <th>{{ msg('participants') }}</th>
                    <th>{{ msg('new-editors') }}</th>
                    <th>{{ msg('day-retention', [30]) }}</th>
                    <th>{{ msg('pages-created') }}</th>
                    <th>{{ msg('pages-improved') }}</th>
                </tr>
            </thead>
            <tbody>
                {% for program in programs %}
                    <tr class="program-entry">
                        <td>
                            <a href="{{ path('Program', {'title': program.title}) }}">{{ program.displayTitle }}</a>
                            <a href="{{ path('EditProgram', {'title': program.title}) }}"
                                class="program-action program-action__edit text-muted"
                            >
                                <span class="glyphicon glyphicon-cog"></span>
                            </a>
                            <a href="{{ path('DeleteProgram', {'title': program.title}) }}"
                                class="program-action program-action__delete text-danger"
                                data-title="{{ program.displayTitle }}"
                            >
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </td>
                        <td>{{ program.numEvents }}</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
