{% extends 'base.html.twig' %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li>
            <a href="{{ path('Programs') }}">{{ msg('my-programs') }}</a>
        </li>
        <li class="active">{{ program.displayTitle }}</li>
    </ol>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="page-header">
            <a href="{{ path('NewEvent', {'programTitle': program.title}) }}" class="btn btn-default pull-right">
                {{ msg('create-new-event') }}
            </a>
            <h1>
                {{ program.displayTitle }}
                <small>
                    (<a href="{{ path('EditProgram', {'title': program.title}) }}">{{ msg('edit-program')|lower }}</a>)
                </small>
            </h1>
            <div class="programs-organizers">
                {{ msg('organizers') }}:
                {% for username in program.organizerNames %}
                    <a target="_blank" href="https://meta.wikimedia.org/wiki/User:{{ username }}">{{ username }}</a>{% if not loop.last %},{% endif %}
                {% endfor %}
            </div>
        </div>

        {% if program.events|length < 1 %}
            <div class="text-center">{{  msg('no-events') }}</div>
        {% else %}
            <table class="table gm-table programs-list">
                <thead>
                    <tr>
                        <th>{{ msg('event') }}</th>
                        <th class="text-center text-nowrap"></th>
                        <th class="text-center text-nowrap">{{ msg('participants') }}</th>
                        <th class="text-center text-nowrap">{{ msg('new-editors') }}</th>
                        <th class="text-center text-nowrap">{{ msg('day-retention', [30]) }}</th>
                        <th class="text-center text-nowrap">{{ msg('pages-created') }}</th>
                        <th class="text-center text-nowrap">{{ msg('pages-improved') }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for event in program.events %}
                        <tr class="event-entry text-center text-nowrap">
                            <td>
                                <a href="{{ path('Event', {'programTitle': program.title, 'title': event.title}) }}">{{ event.displayTitle }}</a>
                            </td>
                            <td class="text-center text-nowrap">
                                <a href="{{ path('EditEvent', {'programTitle': program.title, 'title': event.title}) }}"
                                   class="event-action event-action__edit text-muted">
                                    <span class="glyphicon glyphicon-cog"></span>
                                </a>
                                <a href="{{ path('DeleteEvent', {'programTitle': program.title, 'title': event.title}) }}"
                                   class="event-action event-action__delete text-danger"
                                   data-title="{{ event.displayTitle }}">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            </td>
                            <td class="text-center text-nowrap">{{ event.numParticipants }}</td>
                            <td class="text-center text-nowrap">0</td>
                            <td class="text-center text-nowrap">0</td>
                            <td class="text-center text-nowrap">0</td>
                            <td class="text-center text-nowrap">0</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}
