{% extends 'base.html.twig' %}
{% import 'macros/layout.html.twig' as layout %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        {% if isOrganizer %}
            <li>
                <a href="{{ path('Programs') }}">{{ msg('my-programs') }}</a>
            </li>
        {% endif %}
        <li class="active">{{ program.displayTitle }}</li>
    </ol>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="page-header">
            {% if isOrganizer %}
                <a href="{{ path('NewEvent', {'programTitle': program.title}) }}" class="btn btn-default pull-right">
                    {{ msg('create-new-event') }}
                </a>
            {% endif %}
            <h1>
                {{ program.displayTitle }}
                {% if isOrganizer %}
                    <small>
                        (<a href="{{ path('EditProgram', {'programTitle': program.title}) }}">{{ msg('edit-program')|lower }}</a>)
                    </small>
                {% endif %}
            </h1>
            <div class="programs-organizers">
                {{ msg('organizers') }}:
                {% for username in program.organizerNames %}
                    <a target="_blank" href="https://meta.wikimedia.org/wiki/User:{{ username }}">{{ username }}</a>{% if not loop.last %},{% endif %}
                {% endfor %}
            </div>
        </div>

        {% if program.events|length < 1 %}
            <div class="text-center">{{  msg('no-events') }}</div>
        {% else %}
            <table class="table gm-table events-list">
                <thead>
                    <tr>
                        <th>
                            <span class="sort-link sort-link--event" data-column="event">
                                {{ msg('event') }}
                                <span class="glyphicon glyphicon-sort"></span>
                            </span>
                        </th>
                        {% if isOrganizer %}
                            <th class="text-nowrap"></th>
                        {% endif %}
                        <th class="text-nowrap">
                            <span class="sort-link sort-link--participants" data-column="participants">
                                {{ msg('participants') }}
                                <span class="glyphicon glyphicon-sort"></span>
                            </span>
                        </th>
                        {% for metric, offset in metrics %}
                            <th class="text-nowrap">
                                <span class="sort-link sort-link--{{ metric }}" data-column="{{ metric }}">
                                    {{ msg(metric, [offset]) }}
                                    <span class="glyphicon glyphicon-sort"></span>
                                </span>
                            </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for event in program.events %}
                        <tr class="event-entry">
                            <td class="sort-entry--event" data-value="{{ event.title }}">
                                <a href="{{ path('Event', {'programTitle': program.title, 'eventTitle': event.title}) }}">{{ event.displayTitle }}</a>
                            </td>
                            {% set numParticipants = event.numParticipants %}
                            {% if isOrganizer %}
                                <td class="text-nowrap">
                                    {{ layout.actionButtons('Event', event, {'programTitle': program.title, 'eventTitle': event.title}, numParticipants == 0) }}
                                </td>
                            {% endif %}
                            <td class="text-nowrap sort-entry--participants" data-value="{{ numParticipants }}">
                                {{ numParticipants|num_format }}
                            </td>
                            {% for metric, offset in metrics %}
                                {% set stat = event.statistic(metric) %}
                                <td class="text-nowrap sort-entry--{{ metric }} text-nowrap" data-value="{{ stat ? stat.value : -1 }}">
                                    {{ (stat ? stat.value|num_format : '&ndash;')|raw }}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}
