{% extends 'base.html.twig' %}
{% import 'macros/layout.html.twig' as layout %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li>
            <a href="{{ path('Programs') }}">{{ msg('my-programs') }}</a>
        </li>
        <li class="active">{{ program.displayTitle }}</li>
    </ol>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="page-header">
            <a href="{{ path('NewEvent', {'programTitle': program.title}) }}" class="btn btn-default pull-right">
                {{ msg('create-new-event') }}
            </a>
            <h1>
                {{ program.displayTitle }}
                <small>
                    (<a href="{{ path('EditProgram', {'title': program.title}) }}">{{ msg('edit-program')|lower }}</a>)
                </small>
            </h1>
            <div class="programs-organizers">
                {{ msg('organizers') }}:
                {% for username in program.organizerNames %}
                    <a target="_blank" href="https://meta.wikimedia.org/wiki/User:{{ username }}">{{ username }}</a>{% if not loop.last %},{% endif %}
                {% endfor %}
            </div>
        </div>

        {% if program.events|length < 1 %}
            <div class="text-center">{{  msg('no-events') }}</div>
        {% else %}
            <table class="table gm-table programs-list">
                <thead>
                    <tr>
                        <th>{{ msg('event') }}</th>
                        <th class="text-nowrap"></th>
                        <th class="text-nowrap">{{ msg('participants') }}</th>
                        {% for metric, offset in metrics %}
                            <th class="text-nowrap">{{ msg(metric, [offset]) }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for event in program.events %}
                        <tr class="event-entry">
                            <td>
                                <a href="{{ path('Event', {'programTitle': program.title, 'title': event.title}) }}">{{ event.displayTitle }}</a>
                            </td>
                            <td class="text-nowrap">
                                {{ layout.actionButtons('Event', event, {'programTitle': program.title, 'title': event.title}) }}
                            </td>
                            <td class="text-nowrap">{{ event.numParticipants|num_format }}</td>
                            {% for metric in metrics|keys %}
                                <td class="text-nowrap">
                                    {{ event.statistic(metric) ? event.statistic(metric).value|num_format : 0 }}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}
