{% form_theme form 'blocks/forms.html.twig' %}

{{ form_errors(form) }}

<fieldset class="event__basic-info">
    {{ form_row(form.title, {'value': form.vars.data.displayTitle}) }}
</fieldset>

<fieldset class="event__wikis">
    {% for wiki in form.wikis %}
        <div class="form-group wiki-row{{ loop.index == 1 ? ' wiki-row__template' }}">
            <div class="col-sm-2 text-right label-group">
                {{ form_label(wiki, msg('wikis'),
                    {'attr': {'class': form_errors(form.wikis) ? ' text-danger'}}
                ) }}
            </div>
            <div class="col-sm-8{{ form_errors(wiki) ? ' has-error' }}">
                {{ form_widget(wiki, {'attr': {'class': 'event-wiki-input', 'autocomplete': 'off'}}) }}
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-default remove-wiki">
                    {{ msg('remove') }}
                </button>
            </div>
        </div>
    {% endfor %}
</fieldset>

<div class="form-group">
    <div class="col-sm-8 col-sm-offset-2">
        <a href="#" class="add-wiki">
            <div class="glyphicon glyphicon-plus-sign"></div>
            {{ msg('add-wiki') }}{#-
        -#}</a>
        &nbsp;&bull;&nbsp;
        <a href="#" class="special-wiki" data-value="*.wikipedia">
            <div class="glyphicon glyphicon-plus-sign"></div>
            {{ msg('all-wikipedias') }}
        </a>
    </div>
</div>

<fieldset class="event__time">
    <div class="form-group">
        <div class="col-sm-2 text-right">
            <label class="control-label">{% spaceless %}
                {{ msg('time') }}
            {% endspaceless %}</label>
        </div>
        <div class="col-sm-8{% if form_errors(form.start) or form_errors(form.end) %} has-error{% endif %}">
            {{ form_widget(form.time) }}
        </div>
        <div class="hidden">
            {{ form_widget(form.start) }}
            {{ form_widget(form.end) }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-2 text-right{% if form_errors(form.timezone) %} has-error{% endif %}">
            {{ form_label(form.timezone, msg('timezone')) }}
        </div>
        <div class="col-sm-8">
            {{ form_widget(form.timezone) }}
        </div>
    </div>
</fieldset>

{{ form_row(form._token) }}
{{ form_widget(form.submit, {'label': msg('submit'), 'attr': {'class': 'btn-primary'}}) }}
